/* CSSのリセット */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header {
  height: 65px;
  border-bottom: 1px solid #DDD;
  color: #808080;
  background-color: red;
}

.header-left {
  float: left;
  padding: 10px 30px;
  color: #E6755E;
  font-size: 30px;
  background-color: green;
}

.header-right {
  float: right;
  background-color: blue;
}

.header-right li {
  float: left;
  padding: 20px 30px;
  border-left: 1px solid #DDD;
  background-color: purple;
}

.selected {
  color: #E6755E;
}

.sidebar {
  width: 200px;
  height: 600px;
  padding: 30px;
  float: left;
  background-color: yellow;
}

.sidebar li {
  color: white;
  background-color: #40BFB0;
  padding: 15px 15px;
  margin-bottom: 10px;
}

.contents {
  width: 800px;
  height: 600px;
  float: left;
  background-color: gray;
}
